
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');


*{
  align-items: center;
  justify-content: center;
  font-family: "Cairo", sans-serif;
}
body {
  
  
  background: linear-gradient(54deg, #2575fc, #212567);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  direction: rtl;
}

.login-container {
  background-color: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  width: 250px;
  justify-content: center;
  align-content: center;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.login-header h2 {

  margin-bottom: 10px;
  color: #0d78c5;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.login-header p {
  color: #666;
  font-size: 14px;
  margin-bottom: 20px;
  color: #0040ff;
  text-align: center;

}

.input-group {
  position: relative;
  margin-bottom: 20px;
  text-align: right;
  justify-content: center;
  align-content: center;
 
}

.input-group input {
  width: 250px;
  padding: 4px;
  border: 2px solid #0040ff;
  border-radius: 30px;

  box-sizing: border-box;
  font-size: 14px;
  outline: none;
 
  transition: border-color 0.3s ease;

}

.input-group input:focus {
  border-color: #6a11cb;
  box-shadow: 0 0 10px rgba(106, 17, 203, 0.5);
  border-radius: 30px;
}

.input-group label {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  color: #999;
  font-size: 14px;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
  top: 0;
  right: 8px;
  font-size: 12px;
  color: #0040ff;
  background-color: #ffffff;
  padding: 0 5px;
}

button {
  width: 130px;
  
  background:linear-gradient(79deg, #2575fc, #212567);
  border: none;
  border-radius: 30px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: linear-gradient(135deg, #212567 ,#2575fc);
  transform: scale(1.1);
  transition: 0.5s;
}

.error-message {
  color: #ff4757;
  margin-top: 10px;
  font-size: 14px;
  display: none;
}

.login-footer {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}

.login-footer a {
  color: #6a11cb;
  text-decoration: none;
  font-weight: bold;
}

.login-footer a:hover {
  text-decoration: underline;
}

/* إضافة روابط إضافية */
.additional-links {
  margin-top: 15px;
  font-size: 14px;
  color: #666;
}

.additional-links a {
  color: #6a11cb;
  text-decoration: none;
  font-weight: bold;
}

.additional-links a:hover {
  text-decoration: underline;
}
#loginForm{
  justify-content: center;
  align-content: center;
}
.divBtn{
/* display: flex; */
width: 100%;
 justify-items: center;
}
.divBtn p{
  color: #0040ff;
}